<div class="container">
  <div class="logo"><img src="../../assets/Preview (4).svg" alt="Logo"></div>
  <div class="order-details-box">
      <h2>Order Details</h2>
      <p><strong>Order ID:</strong> {{ Details._id }}</p>
      <p><strong>Status:</strong> {{ Details.schemastatus }}</p>
      <p><strong>Pickup Location:</strong> {{ Details.schemapickup }}</p>
      <p><strong>Dropoff Location:</strong> {{ Details.schemadropoff }}</p>
      <p><strong>Type:</strong> {{ Details.schematype }}</p>
      <p><strong>Weight:</strong> {{ Details.schemaweight }} kg</p>
      <p><strong>Extra Details:</strong> {{ Details.schemaextradetails }}</p>
      <p><strong>Courier:</strong> {{ Details.schemacourier }}</p>
      <p><strong>User Email:</strong> {{ Details.userEmail }}</p>
  </div>
</div>
